.box {
    display: grid;
}

.selectedPage {
    font-weight: 600;
    color: #AE0018;
}

.box img {
    height: 100px;
    width: 100px;
}

.component {
    transition: opacity 0.3s ease;
    opacity: 0;
    /* начальное значение */
}

.component.visible {
    opacity: 1;
    /* конечное значение */
}